/* Default Styling */

.login_form_container {
  margin: 0 auto;
  margin-top: 7%;
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #00093c, #2d0b00);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right h1 {
  margin-top: 0;
  color: white;
  font-size: 40px;
  align-self: center;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: linear-gradient(to right, #00093c, #2d0b00);
}

.green_btn {
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: white;
  margin: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .login_form_container {
    width: 80%;
    height: 450px;
    margin-top: 40%;
  }

  .left,
  .right {
    padding: 10px;
  }

  .form_container h1 {
    font-size: 36px;
  }

  .input {
    width: 300px;
    padding: 12px;
  }

  .white_btn,
  .green_btn {
    width: 150px;
  }

  .right h1 {
    font-size: 35px;
  }
}

@media (max-width: 900px) {
  .login_form_container {
    flex-direction: column;
    height: auto;
    margin-top: 40%;
  }

  .left,
  .right {
    flex: none;
    width: 100%;
    border-radius: 10px;
  }

  .left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }

  .right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to right, #00093c, #2d0b00);
    padding: 20px;
  }

  .form_container h1 {
    font-size: 30px;
  }

  .input {
    width: 80%;
    padding: 12px;
  }

  .white_btn,
  .green_btn {
    width: 140px;
  }

  .right h1 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .login_form_container {
    width: 100%;
    height: auto;
    margin-top: 40%;
  }

  .left,
  .right {
    flex: none;
    width: 100%;
    padding: 15px;
  }

  .form_container h1 {
    font-size: 28px;
  }

  .input {
    width: 90%;
    padding: 10px;
  }

  .white_btn,
  .green_btn {
    width: 120px;
    font-size: 12px;
  }

  .right h1 {
    font-size: 28px;
  }
}
